.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 3rem;
}
.modal-dialog{
  transform: none !important;
  width: 500px !important;
  height: 460px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rounded-circle {
  height: 38px;
  width: 38px;
  box-shadow: 0px 0px 1px 1px #aebecd;
}
.z-index-99 {
  z-index: 99999;
}
.bottom-right-second {
  display: inline-block;
  border-radius: 60px;
  margin-right: 10px;
  padding-top: 10px;
  width: 40px;
  height: 40px;
  background: #e32025;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}
a,
a:hover {
  color: black !important;
}

.btnActiveMap {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnActiveMapL:hover {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnActiveMapL:active {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnDeactiveMap {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.btnDeactiveMap:hover {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.btnDeactiveMap:active {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.myAdFilter {
  background: transparent !important;
  border: none !important;
}

.myAdFilter::placeholder {
  color: black !important;
  font-weight: bold;
  padding-left: 5px !important;
  font-size: 20px;
}
.share-area {
  background-color: #fff;
  box-shadow: 0px 8px 32px rgb(0 0 0 / 8%) !important;
  z-index: 9999;
  width: 35%;
  position: absolute;
  right: 0px;
}
.share-area1 {
  background-color: #fff;
  box-shadow: 0px 8px 32px rgb(0 0 0 / 8%) !important;
  z-index: 9999;
  width: 35%;

  position: absolute;
  right: 0px;
}
.buttonWhite {
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  background-color: #fff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px !important;
  margin-right: 10px;
  cursor: pointer;
}

.buttonTripInfoWhite {
  background-color: #fff;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 20px #e2e2e2;
  padding: 12px 18px;
  text-align: center;
  border: 1px solid #e2e2e2;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.buttonTripInfoRed {
  background-color: #e32025;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 10px #e32025;
  padding: 12px 18px;
  text-align: center;
  border: 1px solid #e32025;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .buttonTripInfoRed_one {
    padding: 6px 18px !important;
  }
  .buttonTripInfoWhite {
    padding: 7px 13px !important;
  }
  .canceltheDeal {
    position: initial !important;
  }
  .card {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
  }
  .m-t-10-mobile {
    margin-top: 10px !important;
  }
}

.buttonTripInfoRed_one {
  background-color: #e32025;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 10px #e32025;
  padding: 12px 24px;
  text-align: center;
  border: 1px solid #e32025;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.searchPlaceHolder {
  color: white !important;
}

.searchPlaceHolder::placeholder {
  color: white !important;
}

.buttonWhiteRound {
  border-radius: 50%;
}

.headerMaanButton i.fa-plus {
  display: inline-block;
  border-radius: 60px;
  color: #e32025;
  font-size: 12px;
  border: 2px solid #e32025;
  /*  box-shadow: 0px 0px 5px #E32025;*/
  padding: 0.5em 0.6em;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal {
  top: 10%;
}

.header-mobile-maan {
  z-index: 10000;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */

body {
  -ms-overflow-style: none;
}

.dayCircleWhite {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #fff;
  border: 2px solid #e2e2e2;
  color: #e2e2e2;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.dayCircleRed {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 14px;
}


[slider] {
  position: relative;
  height: 10px;
  border-radius: 10px;
  text-align: left;
  margin: 15px 0 10px 0;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 14px;
  background-color: #f7bcbd;
}

.TagCircleRed {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.TagCircleGray {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #f5f5f5;
  border: 2px solid #ccc;
  color: #ccc;
  text-align: center;
  font-size: 14px;
}

.menu {
  padding-left: 0px;
  margin-bottom: 0px;
}

.menu li {
  padding-left: 0px;
  padding: 20px;
  text-transform: uppercase;
  display: inline;
  list-style-type: none;
  list-style-position: inside;
  font-weight: 500;
  color: #6e7a8a;
}

.menu li .active {
  color: #6e7a8a;
  padding-bottom: 8px;
  border-bottom: 4px solid red;
}

.menu li a {
  color: #6e7a8a;
}

.btn-tag {
  color: #f59300 !important;
  background-color: #ffdfaf;
  padding: 2px 8px;
  margin-right: 3px;
  font-size: 12px;
  border: 1px solid #ffdfaf;
}

.btn-tag:hover {
  color: #f59300 !important;
  background-color: #ffdfaf;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #ffdfaf;
}

.btn-tag-normal {
  color: #333 !important;
  background-color: #d2d6da;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #d2d6da;
}

.btn-tag-normal:hover {
  color: #333 !important;
  background-color: #d2d6da;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #d2d6da;
}

.line-height-40 {
  line-height: 40px !important;
}

.modal {
  overflow: hidden !important;
  padding-right: 0px !important;
}

.green {
  background: green;
  border: 1px solid green;
}

.btn-primary {
  background: linear-gradient(271.19deg, #e31d26 0%, #e3351d 100%);
  /* background: #e31d26 ; */
  padding: 10px;
  border: 1px solid #e32025;
  box-shadow: 0px 4px 24px rgba(227, 48, 31, 0.32);
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  background: linear-gradient(271.19deg, #cc050b 0%, #e31d26 100%);
  /* background: #cc050b; */
  padding: 10px;
  border: 1px solid #cc050b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.btn-primary-green {
  background: green;
  padding: 4px 10px;
  border: 1px solid green;
}

.btn-primary-green:hover {
  background: green;
  padding: 4px 10px;
  border: 1px solid green;
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 18px;
  z-index: 9 !important;
  /* left: 81%; */
}

.roundIcons i.fa {
  display: inline-block;
  border-radius: 60px;
  margin-right: 10px;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.numberCircleWhite {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 18px;
}

.numberCircleRed {
  box-shadow: 0px 0px 10px #e32025;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.list-ic a {
  color: #778292 !important;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}

.list-ic li {
  position: relative;
}

.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 0.8em;
  height: 0.8em;
  text-align: center;
  line-height: 0.8em;
  border-radius: 1em;
  background: #e2e2e2;
  z-index: 1;
  color: white;
  position: relative;
}

.list-ic li::before {
  content: "";
  position: absolute;
  background: #e2e2e2;
}

.list-ic.horizontal li {
  display: inline-block;
}

.list-ic.horizontal li span {
  margin: 0 1em;
}

.list-ic.horizontal li::before {
  top: 0.9em;
  left: -25px;
  width: 4em;
  height: 0.2em;
}

.list-ic.vertical {
  padding: 0;
  margin: 0;
}

.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}

.list-ic.vertical li span {
  margin: 0.8em 0;
}

.list-ic.vertical li::before {
  top: -32px;
  left: 5px;
  width: 0.1em;
  height: 4em;
}

.list-ic li:first-child::before {
  display: none;
}

.list-ic .active {
  background: dodgerblue;
}

.list-ic .active ~ li {
  background: lightblue;
}

.list-ic .active ~ li::before {
  background: lightblue;
}

.checked {
  color: #e32025;
}

.fa-star {
  font-size: 30px;
}

.btn-ad-type {
  color: #404b5a;
  background-color: #e1e7ec;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-ad-type:active {
  color: #1fa225 !important;
  background-color: #aef8b1 !important;
  border: 2px solid #1fa225 !important;
  font-weight: 500 !important;
}

.btn-ad-type:hover {
  transition: 0.3s;
  color: #1fa225 !important;
  background-color: #aef8b1 !important;
  border: 2px solid #1fa225 !important;
  font-weight: 500 !important;
}

.btn-ad-type:focus {
  color: #1fa225 !important;
  background-color: #aef8b1 !important;
  border: 2px solid #1fa225 !important;
  font-weight: 500 !important;
}

.fam {
  padding: 5px;
  font-size: 13px !important;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: red !important;
  box-shadow: 0px 1px 6px 1px #cac7c7 !important;
}

.fam:hover {
  transition: 0.3s;
  color: white !important;
  background-color: red !important;
}
.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.colorRed {
  color: #e32025;
}

.colorBlack {
  color: black;
}

.numberCircleWhite {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 18px;
}

.numberCircleRed {
  box-shadow: 0px 0px 10px #e32025;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.colorGrayish {
  color: #99a5b6 !important;
}

.list-ic li .active {
  display: inline-block;
  font-weight: 800;
  width: 0.8em;
  height: 0.8em;
  text-align: center;
  line-height: 0.8em;
  border-radius: 1em;
  background: #1fd626;
  z-index: 1;
  color: white;
  position: relative;
}

.list-ic li .deactive {
  display: inline-block;
  font-weight: 800;
  width: 0.8em;
  height: 0.8em;
  text-align: center;
  line-height: 0.8em;
  border-radius: 1em;
  background: #ccd4db;
  z-index: 1;
  color: white;
  position: relative;
}

.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
}

.star:checked:before {
  content: "\2606";
  position: absolute;
}

@media screen and (max-width: 550px) {
  .modal-dialog {
    margin-top: 70px !important;
  }
  .m-t-50 {
    margin-top: 100px;
  }
  .share-area {
    width: 56%;
    height: 119px;
  }
  .text-right {
    text-align: left !important;
  }
  .bottom-right {
    top: -51px;
    left: 65%;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.mt-70 {
  margin-top: 70px;
}
.text-capitalise {
  text-transform: capitalize;
}
.colorBlack {
  color: #000;
}
.color-figma-black {
  color: #202833;
}
.get-max-width {
  max-width: 1280px !important;
}
.sender-inner-ad-title {
  color: #929fb1;
  font-size: 16px;
  font-weight: 700;
}
.sender-inner-ad-desc {
  color: #202833;
  font-size: 16px;
  font-weight: 600;
}
.sender-inner-ad-title-1 {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 26.44px;
}
.sender-inner-ad-desc-1 {
  color: #6e7a8a;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}

/* mnmnmnm */

.CardIcons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px #cac7c7;
}
.star-container {
  margin-left: 0px !important;
}
.height-custom {
  height: 250px !important;
}

@media screen and (min-width: 200px) and (max-width: 601px) {
  .mt-70{
    margin-top: 0px !important;
  }
  .bottom-right{
    left:130px !important;
  }
  .CardIcons{
    width:40px !important;
    height:40px !important;
  }
  .carousel-item {
    width: 100%;
    height: 150px;
  }
  .height-custom {
    height: inherit !important;
  }
  .mob-view-modall {
    width: 350px !important;
  }
}

.m-l-r-10px {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.w-100 {
  width: 100% !important;
}
.m-2 {
  margin: 2%;
}

.locations a:hover{
  color: red !important;
  text-decoration-line: underline;
}
.locations:hover{
  color: red !important;
  text-decoration-line: underline;
}

.alert-text{
  color: red;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin-top: 10px;
}
.sb-group a{color:red!important;width:54px;position:relative;display:block;height:54px;background-color:#fff!important;border-radius:50%!important;padding:5px;font-size:13px!important;transition:.3s;text-align:center;margin:.4125em;box-shadow:0 1px 6px 1px #cac7c7!important}
.sb-group a:hover{background:red!important}
.sb-group a:hover svg{color:#fff!important}
.sb-group{flex-wrap:wrap;display:inline-flex;align-items:flex-start}
