.top-mob-v-3 {
  top: 3px;
}

.max-width-2 {
  max-width: 1368px;
}

.star-container {
  display: flex !important;
  justify-content: space-between !important;
  margin-left: 6px !important;
  margin-top: 3px !important;
}

.rounded-circle {
  height: 38px;
  width: 38px;
  box-shadow: 0px 0px 1px 1px #aebecd;
}

.col-6-btn-mob {
  display: none !important;
}

.desktop-show-mob-hide {
  display: block !important;
}

.desktop-hide-2 {
  display: none !important;
}

.card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08),
    0px 8px 40px rgba(32, 40, 51, 0.12) !important;
}

.bg-box-shadow {
  box-shadow: inset -2px 0px 0px #aebecd;
}

.color-dark-gray {
  color: #6e7a8a;
}

.divider-right {
  border-right: 1px solid #eeeeee;
}

a:not(.btn),
a:not(.btn):hover {
  color: black !important;
}

.btnActiveMap {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnActiveMapL:hover {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnActiveMapL:active {
  border-radius: 25px;
  background: white;
  color: #202833;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btnDeactiveMap {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.btnDeactiveMap:hover {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.btnDeactiveMap:active {
  border-radius: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white !important;
}

.myAdFilter {
  background: transparent !important;
  border: none !important;
}

.myAdFilter::placeholder {
  color: black !important;
  font-weight: bold;
  padding-left: 5px !important;
  font-size: 20px;
}

.buttonWhite {
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  background-color: #fff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px !important;
  margin-right: 10px;
  cursor: pointer;
}

.buttonTripInfoWhite {
  background-color: #fff;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 20px #e2e2e2;
  padding: 12px 18px;
  text-align: center;
  border: 1px solid #e2e2e2;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.buttonTripInfoRed {
  background-color: #e32025;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 10px #e32025;
  padding: 12px 18px;
  text-align: center;
  border: 1px solid #e32025;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .buttonTripInfoRed_one {
    padding: 6px 18px !important;
  }
  .buttonTripInfoWhite {
    padding: 7px 13px !important;
  }
  .canceltheDeal {
    position: initial !important;
  }
  .card {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .m-t-10-mobile {
    margin-top: 10px !important;
  }
}

.buttonTripInfoRed_one {
  background-color: #e32025;
  /* Green */
  border: none;
  color: white;
  box-shadow: 0px 0px 10px #e32025;
  padding: 12px 24px;
  text-align: center;
  border: 1px solid #e32025;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.searchPlaceHolder {
  color: white !important;
}

.searchPlaceHolder::placeholder {
  color: white !important;
}

.buttonWhiteRound {
  border-radius: 50%;
}

.headerMaanButton i.fa-plus {
  display: inline-block;
  border-radius: 60px;
  color: #e32025;
  font-size: 12px;
  border: 2px solid #e32025;
  /*  box-shadow: 0px 0px 5px #E32025;*/
  padding: 0.5em 0.6em;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal {
  top: 10%;
}

.header-mobile-maan {
  z-index: 10000;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */

body {
  -ms-overflow-style: none;
}

.dayCircleWhite {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #fff;
  border: 2px solid #e2e2e2;
  color: #e2e2e2;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.dayCircleRed {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

[slider] {
  position: relative;
  height: 10px;
  border-radius: 10px;
  text-align: left;
  margin: 15px 0 10px 0;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 14px;
  background-color: #f7bcbd;
}

.TagCircleRed {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.TagCircleGray {
  border-radius: 50%;
  width: 50px;
  font-weight: 500;
  height: 50px;
  padding: 11px 5px;
  display: inline-block;
  background: #f5f5f5;
  border: 2px solid #ccc;
  color: #ccc;
  text-align: center;
  font-size: 14px;
}

.menu {
  padding-left: 0px;
  margin-bottom: 0px;
}

.menu li {
  padding-left: 0px;
  padding: 20px;
  text-transform: uppercase;
  display: inline;
  list-style-type: none;
  list-style-position: inside;
  font-weight: 500;
  color: #6e7a8a;
}

.menu li .active {
  color: #6e7a8a;
  padding-bottom: 8px;
  border-bottom: 4px solid red;
}

.menu li a {
  color: #6e7a8a;
}

.btn-tag {
  color: #f59300 !important;
  background-color: #ffdfaf;
  padding: 2px 5px;
  font-size: 12px;
  border: 1px solid #ffdfaf;
  border-radius: 25px;
}

.btn-tag:hover {
  color: #f59300 !important;
  background-color: #ffdfaf;
  padding: 2px 6px;
  font-size: 12px;
  border: 1px solid #ffdfaf;
}

.btn-tag-normal {
  color: #333 !important;
  background-color: #d2d6da;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #d2d6da;
}

.btn-tag-normal:hover {
  color: #333 !important;
  background-color: #d2d6da;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #d2d6da;
}

.line-height-37 {
  line-height: 37px !important;
}

.modal {
  overflow: hidden !important;
  padding-right: 0px !important;
}

.btn-primary {
  background: linear-gradient(271.19deg, #e31d26 0%, #e3351d 100%);
  /* background: #e31d26 ; */
  padding: 5px 20px;
  border: 1px solid #e32025;
  box-shadow: 0px 4px 24px rgba(227, 48, 31, 0.32);
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  background: linear-gradient(271.19deg, #cc050b 0%, #e31d26 100%);
  /* background: #cc050b; */
  padding: 5px 20px;
  border: 1px solid #cc050b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.roundIcons i.fa {
  display: inline-block;
  border-radius: 60px;
  padding-top: 12px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.bottom-right-2 {
  position: absolute;
  margin-left: 411px;
  margin-top: -17px;
}

.numberCircleWhite {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 18px;
}

.numberCircleRed {
  box-shadow: 0px 0px 10px #e32025;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
  background: #e32025;
  border: 2px solid #e32025;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.border-rad-10 {
  border-radius: 10px;
}

.color-lightgray {
  color: lightgray;
}

.color-red {
  color: firebrick;
}

.color-gray {
  color: gray;
}

.color-blue {
  color: dodgerblue;
}

.color-white {
  color: white;
}

.color-shade-black {
  color: #0d0c22;
}

.background-white {
  background-color: white;
}

.background-red {
  background-color: firebrick;
}

.border-red {
  border: 1px solid firebrick;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.fa-dot-circle-o {
  color: rgb(52, 237, 60);
}
.position-abs-11 {
  position: absolute;
  top: 18px;
  right: 9%;
}
.city-name {
  /* position: absolute; */
  right: 2.2%;
  bottom: 22%;
  font-size: 12px;
}

@media screen and (min-width: 550px) {
  .desktop-margin-top {
    margin-top: 90px;
  }
}

.font-small {
  font-size: 14px;
}

.cursor {
  cursor: pointer;
}

.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.border-gray-line {
  display: block;
  position: relative;
  margin-left: 4px;
  width: 2px;
  height: 45px;
  background-color: #eeeeee;
}

.position-abs {
  position: absolute;
  bottom: 0px;
  right: 9%;
}


@media screen and (min-width: 200px) and (max-width: 601px) {
  .position-abs {
    position: absolute;
    top: 30px !important;
    right: 9%;
  }
  .desktop-show-mob-hide {
    display: none !important;
  }
  .desktop-hide-2 {
    display: block !important;
  }
  .mob-v-maindiv-btn {
    text-align: center;
    background: #e32025;
  }
  .mob-v-maindiv-btn-p {
    margin-top: 5px;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
  }
  .mob-v-maindiv-btn-2nd {
    text-align: center;
    background: #d5dde5;
  }
  .mob-v-maindiv-btn-2nd-p {
    margin-top: 5px;
    padding: 10px;
    font-size: 17px;
    color: #6e7a8a;
    font-weight: 700;
  }
  .mob-v-li-block {
    display: none !important;
  }
  .col-6-btn-mob {
    display: block !important;
  }
  .mob-b-card-margin {
    margin-top: 10px !important;
  }
  .city-name-1 {
    top: 10px !important;
  }
  .mob-vw-sml-cityname {
    margin-left: -10px !important;
    top: 14px !important;
    font-size: 12px;
  }
  .top-mob-v {
    top: 0px;
    padding: 0px;
  }
  .margin-top-50-mob {
    margin-top: 50px !important;
  }
  .top-mob-v-3 {
    top: 3px;
    right: 15px !important;
  }
}
.WishlistIcon {
  width: 30px; 
  height: 30px; 
  margin-right: 20px; 
  cursor: pointer;
}
.WishlistIcon:hover {
  box-shadow: 0px 0px5px rgba(0, 0, 0, 0.08);
}