<div
  class="container-fluid bg-light-gray h-51 p-t-5 desktop-margin-top mob-v-li-block"
>
  <div class="container">
    <div class="row">
      <div
        class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center bg-light-gray bg-box-shadow"
      >
        <div class="row">
          <div class="col-12">
            <span
              class="line-height-37 font-18 font-700 cursor-default color-dark-gray"
              >Senders</span
            >
          </div>
        </div>
      </div>
      <div
        class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center bg-light-gray"
      >
        <div class="row">
          <div class="col-12">
            <span
              class="line-height-37 font-18 font-700 cursor-default color-dark-gray"
              >Carriers</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid col-6-btn-mob">
  <div class="row">
    <div
      (click)="showCarrierMobile = true"
      class="col-6 col-xs-6 col-sm-6"
      [ngClass]="{
        'mob-v-maindiv-btn': showCarrierMobile,
        'mob-v-maindiv-btn-2nd': !showCarrierMobile
      }"
    >
      <p
      class="d-flex align-items-center justify-content-center m-0 py-3 px-0 w-100 h-100"
        [ngClass]="{
          'mob-v-maindiv-btn-p': showCarrierMobile,
          'mob-v-maindiv-btn-2nd-p': !showCarrierMobile
        }"
      >
        Carrier
      </p>
    </div>
    <div
      (click)="showCarrierMobile = false"
      class="col-6 col-xs-6 col-sm-6"
      [ngClass]="{
        'mob-v-maindiv-btn': !showCarrierMobile,
        'mob-v-maindiv-btn-2nd': showCarrierMobile
      }"
    >
      <p
      class="d-flex align-items-center justify-content-center m-0 py-3 px-0 w-100 h-100"
        [ngClass]="{
          'mob-v-maindiv-btn-p': !showCarrierMobile,
          'mob-v-maindiv-btn-2nd-p': showCarrierMobile
        }"
      >
        Sender
      </p>
    </div>
  </div>
</div>

<div *ngIf="nodatafound" class="row text-center">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <img
      [src]="'https://pacsend.app/public/uploads/setting/logo%20resize-01.png'"
      alt="Logo"
      class="img-responsive filter-greey-img-1"
      id="change-image"
    />
    <h3 class="color-dark-gray">No Record Found</h3>
  </div>
</div>

<!-- ////////////////// CARRIER ///////////////////// -->
<div class="container-fluid p-t-b-20 max-width-2 bgcolor-1">
  <div class="container">
    <div class="row">
      <!-- ////////////////// SENDER ///////////////////// -->
      <div
        *ngIf="!showCarrierMobile || showCarrierMobile == undefined"
        class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center padding-zero-mobile mb-2"
      >
          <div class="CBox rounded-bottom mb-3"  *ngFor="let item of Senders">
            <div (click)="getSenderId(item)" class="cardimg h-180 rounded-top border-bottom"><img [src]="adBaseImgUrl + item?.ad_image" alt=""></div>
            <div class="CBoxBody d-flex flex-column p-4">
              <div class="ToolBar text-right pt-2 pb-1">
                <div class="col-lg-12 px-0 text-right d-flex flex-row justify-content-end"> 
                  <div (click)="updateWishlistSender(item.ad_id)">
                    <img
                      class="WishlistIcon"
                      src="../../../assets/remove.svg"
                      alt="Wishlist Icon"
                    />
                  </div>                 
                  <!-- (click)="postSenderConnect(item.ad_id)" -->
                  <a (click)="postSenderConnect(item)" class="btn btn-sm btn-primary text-white">
                    <i class="fa fa-plus text-white" *ngIf="item?.requested_is_connect != '1'"></i>
                    {{item?.requested_is_connect == "1"? "Requested": "Connect"}}
                  </a>                  
                </div>
              </div>
              <div class="UserBar d-flex justify-content-between">
                <div class="ProfBox d-flex flex-row  align-items-center">
                  <div class="ProfPic mr-3">
                      <img 
                      class="rounded-circle"
                      [src]="item.custom_profile_photo? baseImageUrl + item.custom_profile_photo: item.user_image? baseImageUrl + item.user_image: '../../../assets/default.jpg'"
                    />
                  </div>
                  <div class="ProfDetail d-flex flex-column">
                    <h5 (click)="getSenderId(item)"
                      class="font-24 font-600 mt-2 mb-0 ml-2 cursor getcolor">
                      {{ item.first_name }} {{ item.last_name }}
                    </h5>
                    <div class="StarnStatBox d-flex flex-row">
                      <div class="star-container">
                        <ngx-stars
                          color="#E73047"
                          [size]="1"
                          [readonly]="true"
                          [size]="4"
                          [maxStars]="5"
                          [initialStars]="item.avgFeedBack"
                        ></ngx-stars>
                      </div>
                      <!-- SHARE BUTTON -->
                      <a href="#" class="px-2 py-1 d-none"><i class="fa fa-code-branch fa-rotate-90 mx-2"></i></a>
                    </div>
                  </div>
                </div>
                <div class="pt-3 PayBox flex-md-row flex-column align-items-center justify-content-start d-none d-md-block">                    
                  <small class="mr-lg-2">Willing to Pay</small>
                  <span>{{ item.payment }} AED</span>
                </div>
              </div>
              <div class="TitleBar text-left pt-4 pb-4 pl-3">
                <h5 _ngcontent-ebm-c11="">
                  {{ item.ad_title?item.ad_title:'____' }}
                </h5>
              </div>
              <div class="DetailBox pl-3 pl-lg-5 cursor" (click)="getSenderId(item)">
                <div class="row">
                  <div class="col-md-6 col-lg-7 pl-4 pl-lg-0 LocationBox">                      
                    <div class="InfoBox PickupBox d-flex flex-column text-left">
                      <i class="circle"></i>
                      <label>Pick Up</label>
                      <span>
                        {{
                          item.pickup_location
                            ? (item.pickup_location)
                            : ("N/A" | uppercase)
                        }}
                      </span>
                    </div>
                    <div class="InfoBox d-flex flex-column text-left">
                      <i class="circle"></i>
                      <label>Drop Off</label>
                      <span>
                        {{
                          item.delivery_location
                            ? (item.delivery_location)
                            : ("N/A" | uppercase)
                        }}
                      </span>
                    </div>                                           
                  </div>
                  <div class="col-md-6 col-lg-5 pt-4 pt-md-0">         
                    <div class="row">
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label> Needs to be delivered by</label>
                        <span>{{ item.date | formatdates}}</span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label>Capacity</label>
                        <span>{{ item.weight }} Kgs</span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label>Size</label>
                        <span>
                          <img src="https://pacsend.app/public/uploads/traveling/{{
                            item.traveling_type_image
                          }}" height="20" width="15" class="d-none" />
                          {{ item.traveling_type }}
                        </span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12 d-block d-md-none">                  
                          <label>Willing to Pay</label>
                          <span>{{ item.payment }} AED</span>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="TagBar d-flex flex-row flex-wrap py-4 pl-lg-4 pl-3 pr-3">
                <a *ngFor="let tags of item['types']" class="badge badge-pill mr-1 mb-1 font-12 ng-star-inserted text-capitalize">                  
                  <img [src]="tagImgUrl + tags?.type_image" width="16px" />
                  {{ tags.type_name }}
                </a>
              </div>
            </div>
          </div><!--CBOX x here-->  
      </div>
      <!-- carier card start here -->
      <div
        *ngIf="showCarrierMobile || showCarrierMobile == undefined"
        class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center padding-zero-mobile mb-2"
      >
          <div class="CBox rounded-bottom mb-3" *ngFor="let item of Carriers">            
            <div class="CBoxBody d-flex flex-column p-4">
              <div class="ToolBar text-right pt-2 pb-1">
                <div class="col-lg-12 px-0 text-right d-flex flex-row justify-content-end">  
                  <div (click)="updateWishlist(item.ad_id)">
                    <img
                      class="WishlistIcon"
                      src="../../../assets/remove.svg"
                      alt="Wishlist Icon"
                    />
                  </div>      
                  <!-- (click)="postcarrierConnect(item.ad_id)" -->
                  <a (click)="postcarrierConnect(item)" class="btn btn-sm btn-primary text-white">
                    <i class="fa fa-plus text-white" *ngIf="item?.requested_is_connect != '1'"></i>
                    {{item?.requested_is_connect == "1"? "Requested": "Connect"}}
                  </a>                  
                </div>
              </div>
              <div class="UserBar d-flex justify-content-between">
                <div class="ProfBox d-flex flex-row  align-items-center">
                  <div class="ProfPic mr-3">
                      <img 
                      class="rounded-circle"
                      [src]="item.custom_profile_photo? baseImageUrl + item.custom_profile_photo: item.user_image? baseImageUrl + item.user_image: '../../../assets/default.jpg'"
                    />
                  </div>
                  <div class="ProfDetail d-flex flex-column">
                    <h5 (click)="getCarrierId(item)"
                      class="font-24 font-600 mt-2 mb-0 ml-2 cursor getcolor">
                      {{ item.first_name }} {{ item.last_name }}
                    </h5>
                    <div class="StarnStatBox d-flex flex-row">
                      <div class="star-container">
                        <ngx-stars
                          color="#E73047"
                          [size]="1"
                          [readonly]="true"
                          [size]="4"
                          [maxStars]="5"
                          [initialStars]="item.avgFeedBack"
                        ></ngx-stars>
                      </div>
                      <!-- SHARE BUTTON -->
                      <a href="#" class="px-2 py-1 d-none"><i class="fa fa-code-branch fa-rotate-90 mx-2"></i></a>
                    </div>
                  </div>
                </div>
                <div class="pt-3 PayBox flex-md-row flex-column align-items-center justify-content-start d-none d-md-block">                    
                  <small class="mr-lg-2">Willing to Charge</small>
                  <span>{{ item.payment }} AED</span>
                </div>
              </div>
              <div class="TitleBar text-left pt-4 pb-4 pl-3">
                <h5 _ngcontent-ebm-c11="">
                  {{ item.title?item.title:'____' }}            
                </h5>
              </div>
              <div class="DetailBox pl-3 pl-lg-5 cursor" (click)="getCarrierId(item)">
                <div class="row">
                  <div class="col-md-6 col-lg-7 pl-4 pl-lg-0 LocationBox">                      
                    <div class="InfoBox PickupBox d-flex flex-column text-left">
                      <i class="circle"></i>
                      <label>Pick Up</label>
                      <span>
                        {{
                          item.carrier_from_location
                            ? (item.carrier_from_location)
                            : ("N/A" | uppercase)
                        }}
                      </span>
                    </div>
                    <div class="InfoBox d-flex flex-column text-left">
                      <i class="circle"></i>
                      <label>Drop Off</label>
                      <span>
                        {{
                          item.carrier_to_location
                            ? (item.carrier_to_location)
                            : ("N/A" | uppercase)
                        }}
                      </span>
                    </div>                                           
                  </div>
                  <div class="col-md-6 col-lg-5 pt-4 pt-md-0">         
                    <div class="row">
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label> Date of Departure</label>
                        <span>{{ item.travelling_frequency | formatdates}}</span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label>Capacity</label>
                        <span>{{ item.weight }} Kgs</span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12">
                        <label>Travelling by</label>
                        <span>
                          <img src="https://pacsend.app/public/uploads/travelingBy/{{
                            item.traveling_by_image
                          }}" height="20" width="15" class="d-none" />
                          {{ item.traveling_by }}
                        </span>
                      </div>
                      <div class="InfoBox d-flex flex-column text-left col-6 col-md-12 d-block d-md-none">                  
                          <label>Willing to Charge</label>
                          <span>{{ item.payment }} AED</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="TagBar d-flex flex-row flex-wrap py-4 pl-lg-4 pl-3 pr-3">
                <a *ngFor="let tags of item['types']" class="badge badge-pill mr-1 mb-1 font-12 ng-star-inserted text-capitalize">                  
                  <img [src]="tagImgUrl + tags?.type_image" width="16px" />
                  {{ tags.type_name }}
                </a>
              </div>
            </div>
          </div><!--CBOX x here-->
      </div>
    </div>
  </div>
</div>
