a,a:hover{
    color:black !important;
}
    .btnActiveMap{
    border-radius: 25px;background:white;color: #202833;border:none;font-size: 18px;font-weight: 500;
}
.btnActiveMapL:hover{
    border-radius: 25px;background:white;color: #202833;border:none;font-size: 18px;font-weight: 500;
}
.btnActiveMapL:active{
    border-radius: 25px;background:white;color: #202833;border:none;font-size: 18px;font-weight: 500;
}
.btnDeactiveMap{
    border-radius: 25px;background:none;border:none;font-size: 18px;font-weight: 500;color:white !important;
}
.btnDeactiveMap:hover{
    border-radius: 25px;background:none;border:none;font-size: 18px;font-weight: 500;color:white !important;
}
.btnDeactiveMap:active{
    border-radius: 25px;background:none;border:none;font-size: 18px;font-weight: 500;color:white !important;
}
.myAdFilter{
    background: transparent !important;
    border:none !important;
}
.myAdFilter::placeholder{
    color: black !important;
    font-weight:bold;
    padding-left: 5px !important;
    font-size: 20px;

}

.buttonWhite {
box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
background-color: #fff;
border: none;
color: white;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 22px;
margin-top: 20px !important;
margin-right: 10px;
cursor: pointer;
}

.buttonTripInfoWhite {
background-color: #fff; /* Green */
border: none;
color: white;
box-shadow:0px 0px 20px #e2e2e2;
padding: 12px 18px;
text-align: center;
border:1px solid #e2e2e2;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-right: 10px;
cursor: pointer;
}
.buttonTripInfoRed {
background-color: #E32025; /* Green */
border: none;
color: white;
box-shadow:0px 0px 10px #E32025;
padding: 12px 18px;
text-align: center;
border:1px solid #E32025;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-right: 10px;
cursor: pointer;
}
@media screen and (max-width: 600px) {
.buttonTripInfoRed_one {
padding: 6px 18px !important;
}
.buttonTripInfoWhite{
  padding: 7px 13px !important;
}
.canceltheDeal{
  position: initial !important;
}
.card {
margin-top: 0px !important;
margin-bottom: 10px !important;
}
.m-t-10-mobile{
    margin-top: 10px !important;
}
}
.buttonTripInfoRed_one {
background-color: #E32025; /* Green */
border: none;
color: white;
box-shadow:0px 0px 10px #E32025;
padding: 12px 24px;
text-align: center;
border:1px solid #E32025;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-right: 10px;
cursor: pointer;
}
.searchPlaceHolder{
color:white !important;
}
.searchPlaceHolder::placeholder {
color: white !important;
}
.buttonWhiteRound {border-radius: 50%;}
.headerMaanButton i.fa-plus {
display: inline-block;
border-radius: 60px;
color: #E32025;
font-size: 12px;
border: 2px solid #E32025;
/*  box-shadow: 0px 0px 5px #E32025;*/
padding: 0.5em 0.6em;

}
body {
margin:0;
padding:0;
height:100%;
}
.modal {
top:10%;
}
.header-mobile-maan {
z-index: 10000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}
.dayCircleWhite {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #fff;
    border: 2px solid #e2e2e2;
    color: #e2e2e2;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.dayCircleRed {
    border-radius: 50%;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
[slider] {
    position: relative;
    height: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 15px 0 10px 0;
}
[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 14px;
    background-color: #f7bcbd;
}
.TagCircleRed {
    border-radius: 50%;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.TagCircleGray {
    border-radius: 50%;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #f5f5f5;
    border: 2px solid #ccc;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}
.menu{
  padding-left: 0px;
  margin-bottom: 0px;
}
.menu li{
  padding-left: 0px;
  padding:20px;
    text-transform: uppercase;
    display:inline;
    list-style-type:none;
    list-style-position: inside;
    font-weight: 500;
    color: #6e7a8a;
}
.menu li .active{
    color: #6e7a8a;
    padding-bottom: 8px;
    border-bottom: 4px solid red;
}
.menu li a{
    color: #6e7a8a;
}
.btn-tag{
  color: #f59300 !important;
    background-color: #ffdfaf;
    padding: 2px 8px;
    margin-right: 3px;
    font-size: 12px;
    border: 1px solid #ffdfaf;
}
.btn-tag:hover{
  color: #f59300 !important;
    background-color: #ffdfaf;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #ffdfaf;
}
.btn-tag-normal{
      color: #333!important;
    background-color: #d2d6da;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #d2d6da;
}
.btn-tag-normal:hover{
      color: #333!important;
    background-color: #d2d6da;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #d2d6da;
}
.line-height-40{
  line-height: 40px !important;
}
.modal{
    overflow:hidden !important;
    padding-right: 0px !important;
    }

    .btn-primary {
      background: linear-gradient(271.19deg, #E31D26 0%, #E3351D 100%);
        /* background: #e31d26 ; */
        padding: 10px;
        border: 1px solid #E32025;
        box-shadow: 0px 4px 24px rgba(227, 48, 31, 0.32);
        transition: all 0.3s ease 0s;
    }

    .btn-primary:hover {
        background: linear-gradient(271.19deg, #cc050b 0%, #e31d26 100%);
        /* background: #cc050b; */
        padding: 10px;
        border: 1px solid #cc050b;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
      }

    .imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.roundIcons i.fa {
  display: inline-block;
  border-radius: 60px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 2px #888;
  padding: 15px 15px;

}
.numberCircleWhite {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    display: inline-block;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font-size: 18px;
}
.numberCircleRed {
  box-shadow: 0px 0px 10px #E32025;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.list-ic a {
    color: #778292 !important;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
  }
  .list-ic li {
    position: relative;
  }
  .list-ic li span {
    display: inline-block;
    font-weight: 800;
    width: 0.8em;
    height: 0.8em;
    text-align: center;
    line-height: 0.8em;
    border-radius: 1em;
    background: #e2e2e2;
    z-index: 1;
    color: white;
    position: relative;
  }
  .list-ic li .active {
    display: inline-block;
    font-weight: 800;
    width: 0.8em;
    height: 0.8em;
    text-align: center;
    line-height: 0.8em;
    border-radius: 1em;
    background: #1fd626;
    z-index: 1;
    color: white;
    position: relative;
  }
  .list-ic li .deactive {
    display: inline-block;
    font-weight: 800;
    width: 0.8em;
    height: 0.8em;
    text-align: center;
    line-height: 0.8em;
    border-radius: 1em;
    background: #E32025;
    z-index: 1;
    color: white;
    position: relative;
  }
  .list-ic li::before {
    content: '';
    position: absolute;
    background: #e2e2e2;
  }
  .list-ic.horizontal li {
    display: inline-block;
  }
  .list-ic.horizontal li span {
    margin: 0 1em;
  }
  .list-ic.horizontal li::before {
    top: 0.9em;
    left: -25px;
    width: 4em;
    height: 0.2em;
  }
  .list-ic.vertical {
    padding: 0;
    margin: 0;
  }
  .list-ic.vertical li {
    list-style-type: none;
    text-align: left;
  }
  .list-ic.vertical li span {
    margin: 0.8em 0;
  }
  .list-ic.vertical li::before {
    top: -32px;
    left: 5px;
    width: 0.1em;
    height: 4em;
  }
  .list-ic li:first-child::before {
    display: none;
  }
  .list-ic .active {
    background: dodgerblue;
  }
  .list-ic .active ~ li {
    background: lightblue;
  }
  .list-ic .active ~ li::before {
    background: lightblue;
  }
  .checked {
    color: #E32025;
  }
  .fa-star{
      font-size: 30px;
  }
  .btn-ad-type{
      color: #404b5a;
      background-color: #e1e7ec;
      border: 2px solid #f5f5f5;
      border-radius: 10px;
      font-weight: 500;
      transition: 0.3s;
  }
  .btn-ad-type:active{
      color: #1fa225 !important;
      background-color: #aef8b1 !important;
      border:2px solid #1fa225 !important;
      font-weight: 500 !important;
  }
  .btn-ad-type:hover{
      transition: 0.3s;
      color: #1fa225 !important;
      background-color: #aef8b1 !important;
      border:2px solid #1fa225 !important;
      font-weight: 500 !important;
  }
  .btn-ad-type:focus{
      color: #1fa225 !important;
      background-color: #aef8b1 !important;
      border:2px solid #1fa225 !important;
      font-weight: 500 !important;
  }


  .fam {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fam:hover {
      background-color: white;
      transition: 0.3s;
      color: #E32025;
  }
.btn-primary{

  background: #E32025;
  padding: 10px;
  border: 1px solid #E32025;

}
.btn-primary:hover{

  background: #E32025;
  padding: 10px;
  border: 1px solid #E32025;

}

.imgcontainer {
position: relative;
text-align: center;
color: white;
}
.bottom-right {
position: absolute;
bottom: 16px;
right: 16px;
}
.roundIcons i.fa {
display: inline-block;
border-radius: 60px;
background-color: white;
color: black;
box-shadow: 0px 0px 2px #888;
padding: 15px 15px;

}
.numberCircleWhite {
border-radius: 50%;
width: 50px;
height: 50px;
padding: 9px;
display: inline-block;
background: #fff;
border: 2px solid #666;
color: #666;
text-align: center;
font-size: 18px;
}
.numberCircleRed {
box-shadow: 0px 0px 10px #E32025;
border-radius: 50%;
width: 50px;
height: 50px;
padding: 9px;
display: inline-block;
background: #E32025;
border: 2px solid #E32025;
color: #fff;
text-align: center;
font-size: 18px;
}

.colorGrayish{
color: #99a5b6 !important;
}
@media screen and (min-width: 550px) {
  .m-t-50 {
    margin-top: 100px;
  }
}




.desktop-header {
  display: none !important;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: -o-linear-gradient(#E32025, #E32025), -o-linear-gradient(#E32025, #E32025);
  background-image: linear-gradient(#E32025, #E32025), linear-gradient(#E32025, #E32025);
}

.form-custom-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.login-box {
  width: 100% !important;
  max-width: 450px !important;
}

.form-custom-control:focus {
  border-color: #E32025 !important;
  box-shadow: 0 0 8px 0 #E32025 !important;
}

.btn-primary {
  background: #E32025;
  padding: 10px;
  border: 1px solid #E32025;
}

.btn-primary:hover {
  background: #E32025;
  padding: 10px;
  border: 1px solid #E32025;
}

.btn-secondary {
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.width-100 {
  width: 100%
}

.card-body {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-box {
  width: 450px;
  margin: 0 auto;
}

.line-height-20 {
  line-height: 20px !important;
}

.card-body {
  padding: 30px;
}

.float-left {
  float: left !important;
}

header {
  display: none !important;
}

.header-maan {
  display: none !important;
}

.GoogleBtn {
  font-size: 22px;
  width: 100% !important;
  color: white;
  font-weight: 500;
  background: rgb(235,67,53);
  border: 1px solid #ececec;
  box-shadow: 1px 0px 1px 1px #dadada;
  border-radius: 7px;
}
.FacebookBtn {
  font-size: 22px;
  width: 100% !important;
  color: white;
  font-weight: 500;
  background:  rgb(69,97,157);
  border: 1px solid #ececec;
  box-shadow: 1px 0px 1px 1px #dadada;
  border-radius: 7px;
}


footer {
  display: none;
}

header.desktop-header {
  display: none !important;
}

.header-maan {
  display: none !important;
}




/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 17px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.margin-left-20{
    margin-left: 38px !important;
}
.color-get-sign-up{
    color:gray !important;
}
.color-get-sign-up:hover{
    transition: .5s ease;
  color: #000 !important;
}
.position-relative{
    position: relative !important;
}
.position-absolute{
    position: absolute !important;
    left: -25%;
    top: 16%;
    width: 40%;
}
.rotate{
    transform: rotate(-90deg);
}
.btn-login{
  padding: 10px 18px;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  background:linear-gradient(270deg,#e31d26,#ac2625,#E32025);
  -moz-animation:AnimationName 2s ease infinite;
  animation:AnimationName 2s ease infinite;
  background-size:1600% 1600%;
  transition:all ease .3s;
  transition-duration:.2s;
  width:100%;
  color:#fff!important;
  border:1px solid
}
.btn-login:hover{
  color: white !important;
  transition: .3s ease;
}
@-webkit-keyframes AnimationName{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}}
.display-none-desktop{
  display: none;
}
@media screen and (max-width:550px){
    .position-absolute{
        display: none;
    }
    .display-none-desktop{
        display: block;
    }
}
.border-rad-10{
    border-radius: 15px;
}

.cursor-pointer{
  cursor: pointer;
}
