a,
a:hover {
    color: black !important;
}


.btnActiveMap {
    border-radius: 25px;
    background: white;
    color: #202833;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.header-maan {
    min-height: 80px;
}

.btnActiveMapL:hover {
    border-radius: 25px;
    background: white;
    color: #202833;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.btnActiveMapL:active {
    border-radius: 25px;
    background: white;
    color: #202833;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.btnDeactiveMap {
    border-radius: 25px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}

.btnDeactiveMap:hover {
    border-radius: 25px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}

.btnDeactiveMap:active {
    border-radius: 25px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}

.pac-container {
    z-index: 10000 !important;
}

agm-map {
    height: 300px;
}

.gm-style div img {
    width: 50px !important;
    height: 50px !important;
}
.myAdFilter {
    background: transparent !important;
    border: none !important;
}

.myAdFilter::placeholder {
    color: black !important;
    font-weight: bold;
    padding-left: 5px !important;
    font-size: 20px;
}

.buttonWhite {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    background-color: #fff;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top: 20px !important;
    margin-right: 10px;
    cursor: pointer;
}

.buttonTripInfoWhite {
    background-color: #fff;
    /* Green */
    border: none;
    color: white;
    box-shadow: 0px 0px 20px #e2e2e2;
    padding: 12px 18px;
    text-align: center;
    border: 1px solid #e2e2e2;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.buttonTripInfoRed {
    background-color: #E32025;
    /* Green */
    border: none;
    color: white;
    box-shadow: 0px 0px 10px #E32025;
    padding: 12px 18px;
    text-align: center;
    border: 1px solid #E32025;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-dialog{
        margin-top: 70px !important;
    }
    .buttonTripInfoRed_one {
        padding: 6px 18px !important;
    }
    .buttonTripInfoWhite {
        padding: 7px 13px !important;
    }
    .canceltheDeal {
        position: initial !important;
    }
    .card {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }
    .m-t-10-mobile {
        margin-top: 10px !important;
    }
}

.buttonTripInfoRed_one {
    background-color: #E32025;
    /* Green */
    border: none;
    color: white;
    box-shadow: 0px 0px 10px #E32025;
    padding: 12px 24px;
    text-align: center;
    border: 1px solid #E32025;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.searchPlaceHolder {
    color: white !important;
}

.searchPlaceHolder::placeholder {
    color: white !important;
}

.buttonWhiteRound {
    border-radius: 50%;
}

.headerMaanButton i.fa-plus {
    display: inline-block;
    border-radius: 60px;
    color: #E32025;
    font-size: 12px;
    border: 2px solid #E32025;
    /*  box-shadow: 0px 0px 5px #E32025;*/
    padding: 0.5em 0.6em;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative !important;
}

.modal {
    top: 10%;
}

.header-mobile-maan {
    z-index: 10000;
}


/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE and Edge */

body {
    -ms-overflow-style: none;
}

.dayCircleWhite {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #fff;
    border: 2px solid #e2e2e2;
    color: #e2e2e2;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.dayCircleRed {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px #888;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.colorWhite {
    color: #fff !important;
    padding: 0 10px;
}

.colorWhite:hover {
    color: #fff !important;
}

.cdk-overlay-pane {
    max-width: 500px;
    pointer-events: auto;
    position: static;
    width: 100% !important;
    margin: 0 auto !important;
}


[slider] {
    position: relative;
    height: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 15px 0 10px 0;
}

[slider]>div>[range] {
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 14px;
    background-color: #f7bcbd;
}

.TagCircleRed {
    border-radius: 50%;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.TagCircleGray {
    border-radius: 50%;
    width: 50px;
    font-weight: 500;
    height: 50px;
    padding: 11px 5px;
    display: inline-block;
    background: #f5f5f5;
    border: 2px solid #ccc;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

.menu {
    padding-left: 0px;
    margin-bottom: 0px;
}

.menu li {
    padding-left: 0px;
    padding: 20px;
    text-transform: uppercase;
    display: inline;
    list-style-type: none;
    list-style-position: inside;
    font-weight: 500;
    color: #6e7a8a;
}

.menu li .active {
    color: #6e7a8a;
    padding-bottom: 8px;
    border-bottom: 4px solid red;
}

.menu li a {
    color: #6e7a8a;
}

.btn-tag {
    color: #f59300 !important;
    background-color: #ffdfaf;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #ffdfaf;
}

.btn-tag:hover {
    color: #f59300 !important;
    background-color: #ffdfaf;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #ffdfaf;
}

.btn-tag-normal {
    color: #333!important;
    background-color: #d2d6da;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #d2d6da;
}

.btn-tag-normal:hover {
    color: #333!important;
    background-color: #d2d6da;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #d2d6da;
}

.line-height-40 {
    line-height: 40px !important;
}

.modal {
    overflow: hidden !important;
    padding-right: 0px !important;
}

.btn-primary {
    background: linear-gradient(271.19deg, #E31D26 0%, #E3351D 100%);
      /* background: #e31d26 ; */
      padding: 10px;
      border: 1px solid #E32025;
      box-shadow: 0px 4px 24px rgba(227, 48, 31, 0.32);
      transition: all 0.3s ease 0s;
  }

  .btn-primary:hover {
      background: linear-gradient(271.19deg, #cc050b 0%, #e31d26 100%);
      /* background: #cc050b; */
      padding: 10px;
      border: 1px solid #cc050b;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
    }

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.roundIcons i.fa {
    display: inline-block;
    border-radius: 60px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 2px #888;
    padding: 15px 15px;
}

.numberCircleWhite {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    display: inline-block;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font-size: 18px;
}

.numberCircleRed {
    box-shadow: 0px 0px 10px #E32025;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    display: inline-block;
    background: #E32025;
    border: 2px solid #E32025;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.btn-ad-type {
    color: #404b5a;
    background-color: #e1e7ec;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-ad-type:active {
    color: #1fa225 !important;
    background-color: #aef8b1 !important;
    border: 2px solid #1fa225 !important;
    font-weight: 500 !important;
}

.btn-ad-type:hover {
    transition: 0.3s;
    color: #1fa225 !important;
    background-color: #aef8b1 !important;
    border: 2px solid #1fa225 !important;
    font-weight: 500 !important;
}

.btn-ad-type:focus {
    color: #1fa225 !important;
    background-color: #aef8b1 !important;
    border: 2px solid #1fa225 !important;
    font-weight: 500 !important;
}

.fam {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fam:hover {
    background-color: white;
    transition: 0.3s;
    color: #E32025;
}

.pac-container {
    z-index: 10000 !important;
}

div.pac-container {
    z-index: 99999999999 !important;
}

.red {
    border: 1px solid #E32025;
}

.none {
    border: 1px solid white;
}

.profile-avatar {
    width: 56px;
    height: 50px;
    border: 2.5px solid rgba(0, 0, 0, .14);
    border-radius: 50% !important;
    max-height: 50px;
    cursor: pointer;
}
